.Blog1{
    text-align: center;
    font-size: 100px;

}
.flexiable{
    display: flex;
    margin-bottom: 30px;
}
.blog2{
    width: 50%;
    margin-right: 71x;
    margin-top: 5px;
}

#Btn-teb{
    color: aliceblue;
    background-color: blue;
    border-radius: 11px;
    width: 130px;
    height: 41px;
    margin-top: 9px;
    margin-left: 63px;
    
}
#extra-edit{
    margin-left: 190px;
    background-color: rgb(238, 248, 248);
    padding: 90px;
}

#toper-design{
 text-align: center;
 font-size: 20px;
 /* margin-top: 25px; */

}
#gap-input{
    margin-top: 9px;
    
}
#toper-design-last{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 2%;
    
}